body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background-color: darkcyan;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stopwatch-container {
    text-align: center;
}

#stopwatch {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: aliceblue;
}

button {
    width: 80px;
    height: 40px;
    cursor: pointer;
    padding: 4px 16px;
    background-color: skyblue;
    border: none;
    border-radius: 4px;
    margin: 0 0.4rem;
}

button:hover {
    background-color: black;
    color: aliceblue;
}